# Entorno virtual
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales
.DS_Store
Thumbs.db

# Salidas locales
outputs/
*.xlsx
*.pdf

# Configuración local
.env

# Streamlit
.streamlit/secrets.toml

# VS Code
.vscode/